.container-fluid{
  height: 100vh;
  width: 100vh;
}
.tic-tac-toe-board{
    
    height: 70vh;
    width: 70vh;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 5px;
    background-color: aqua;
    border-radius: 10%;

}

.box{
  height :100%;
  width: 100%; 
  border: none; 
  border-radius: 20%;
  background-color:rgb(240, 105, 217);
  font-size: 6rem; 
}
.box:hover{
  font-size: 5rem;
  width: 101%;
  height: 101%;
}
.reset:hover{
    background-color:  rgb(20, 10, 10);
 font-size: larger
}
